certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
cryptography==3.1.1
decorator==4.4.2
gssapi==1.6.11
idna==2.10
ntlm-auth==1.5.0
pycparser==2.20
pyodbc==4.0.30
pypyodbc==1.3.4
requests==2.24.0
requests-gssapi==1.2.2
requests-kerberos==0.12.0
requests-ntlm==1.1.0
six==1.15.0
urllib3==1.25.10
winkerberos==0.7.0
